@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    margin:0px;
    background-color:#f59e0b;
    font-family: 'Shadows Into Light', cursive;
}
:root{
    --primary-color-:#f59e0b;
}
h1{
    text-align: center;
    /* color: antiquewhite; */
    color: white;
}
h2{
    text-align: center;
    /* color: antiquewhite;/ */
    color: white;
}
button{
    background-color:#a8a29e;
    height: 7vh;
    width: 9rem;
    border-radius: .8rem;
    display: block;
    margin: auto;
}
textarea{
    display: block;
    margin: auto;
    height: 10vh;
    width: 25rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}